header {
    background-color: #444; /* Dark background color */
    width: 100%;
}

header .navbar-brand {
    font-size: 24px; /* Reduced font size */
    font-weight: 600;
    color: #FFF;
}

nav {
    padding: 8px 0px !important;
}
