<footer>
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <div class="col-one">
                    <h4>Food Donation website</h4>
                    <p>Address : 8 Near IT Park,Gandhi Road,
                         chennai 650000 </p>
                    <p>Contact No : <a href="tel: +91 8806379884">+91 880****59</a></p>
                    <p>Email : <a href="mailto:foundation@code.com">foundation&#64;code.com</a></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-two">
                    <h4>Important Links</h4>
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#donation">Donations</a></li>
                        <li><a href="#mission-id">Missions</a></li>
                        <li><a href="#about">About us</a></li>
                        <li><a href="#contact">Contact us</a></li>
                        <li><a href="/login">Registration</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-one">
                    <h4>Social Media</h4>
                    <div class="social">
                        <a href="#"><img src="assets/images/icons/facebook.png" alt="facebook" height=""></a>
                        <a href="#"><img src="assets/images/icons/instagram.png" alt="inatagram" height=""></a>
                        <a href="#"><img src="assets/images/icons/youtube.png" alt="youtube"></a>
                        <a href="#"><img src="assets/images/icons/linkedin.png" alt="linkedin"></a>
                        <a href="#"><img src="assets/images/icons/gmail.png" alt="gmail"></a>
                    </div>
                    <p>Copyright &copy; 2022 | All Right Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
