@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: #ffeba7;
    background-color: #1f2029;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.link {
    color: #eee;
}

.link:hover {
    color: #c4c3ca;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row {
    width: 100%;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.main {
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

button {
    border: none;
    outline: none;
    background-color: #eee;
    color: #000000;
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 30px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #000000;
    color: #ffeba7;
}
